<div style="display: flex; height: 100vh; flex-direction: row">

  <div id="listContainer" style="flex: 1; overflow-y: scroll">
    <h3>Restuarants that accept Prime discounts!</h3>
    <h5>Site built with <a href="http://angular.org">AngularJS</a></h5>
    Filter: <input ng-model="query"> <br />
    <select ng-model='promoSelect' ng-options='promo for (promo, idList) in restaurantsByPromo'>
      <option value=''>-- Filter by promotion --</option>
    </select>
    <ul>
      <li id="{{restaurant.id}}" ng-repeat="restaurant in filteredRestaurants">
        <a ng-click="switchModel(restaurant)">{{restaurant.name}}</a>
      </li>
    </ul>
  </div>

  <div style="flex: 4; align-self: stretch">
    <div style="display: flex; flex-direction: column; height: 100vh;">
      <google-maps model='mapObject' zoom='map.zoom' center='map.center' fit-bounds='true' bounds-change='updateMarkers = true' style="flex: 1; align-self: stretch;">
        <markers model='filteredRestaurants' click='click'></markers>
      </google-maps>
      <div style="max-height: 40%; overflow-y: scroll;" collapse='isPaneCollapsed'>
        <div restaurant-details model='r' map-model='mapObject'></div>
      </div>
    </div>
  </div>

</div>
