<div id="listContainer" style="height: 100%; width: 30vw; float: left; position: fixed; overflow-y: scroll">
  <h3>Restuarants that accept Prime discounts!</h3>
  <h5>Site built with <a href="http://angular.org">AngularJS</a></h5>
  Filter: <input ng-model="query">
  <ul>
    <li id="{{restaurant.id}}" ng-repeat="restaurant in filteredRestaurants">
      <a href="#restaurant/{{restaurant.id}}">{{restaurant.name}}</a>
    </li>
  </ul>
</div>

<div style="height: 100vh; width: 70vw; float: right">
  <google-maps zoom='map.zoom' center='map.center'>
    <markers coords='filteredRestaurants'></markers>
  </google-maps>
</div>

