<h1>Listing yelp_categories</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @yelp_categories.each do |yelp_category| %>
  <tr>
    <td><%= link_to 'Show', yelp_category %></td>
    <td><%= link_to 'Edit', edit_yelp_category_path(yelp_category) %></td>
    <td><%= link_to 'Destroy', yelp_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Yelp category', new_yelp_category_path %>
